Alphavantage API
Pull data for major US market index and save to csv

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import threading
import time


# Import API key
from api_keys import api_key

API code

In [11]:
# function to run API request
def mi_api(cnt):
    MarketIndex=[]
    if cnt == 1:
        MarketIndex = ['DJIA','DJT','DJU','NDX']
    elif cnt ==2:
        MarketIndex =['NYA','SPX','MID','OEX']
    elif cnt ==3:
        MarketIndex =['SOX','XAU','XOI','RUT']
    return MarketIndex
    
# dictionary to hold the json result    

mainDict = {}
# setup URL
url = "https://www.alphavantage.co/query?"
function = "TIME_SERIES_WEEKLY"
    
i = 0
oldtime = time.time()
while True:  
    i += 1 
    if i < 4:
        Market = mi_api(i)
        for MI in Market:
            query_url = f"{url}function={function}&symbol={MI}&apikey={api_key}"
            response = requests.get(query_url).json()
            mainDict.update({MI : requests.get(query_url).json()}  )
                
    time.sleep(65)
    if i == 4:  
        break
    print("procedure complete")

procedure complete
procedure complete
procedure complete

Convert to dataframe

In [13]:
#create a dataframe for dictionary
dataT=pd.DataFrame()
dataT['Symbol'] = ''
dataT['Week'] = ''
dataT['Open'] = ''
dataT['High'] = ''
dataT['Low'] = ''
dataT['Close'] = ''
dataT['Volume'] = ''

# unpack dictionary result from Json and add to dataframe
for key in mainDict:
    try:
        for lkey in mainDict[key]['Weekly Time Series']:
            dataT= dataT.append(pd.Series([key, lkey
              , mainDict[key]['Weekly Time Series'][lkey]['1. open']
              ,mainDict[key]['Weekly Time Series'][lkey]['2. high']
              ,mainDict[key]['Weekly Time Series'][lkey]['3. low']
              ,mainDict[key]['Weekly Time Series'][lkey]['4. close']
              ,mainDict[key]['Weekly Time Series'][lkey]['5. volume']
                                      ], index=dataT.columns), ignore_index=True)
            #print(key, lkey)
            
    except (KeyError, IndexError):
        print('error data not added to dataframe: ', key)
        

#save into CSV
dataT.to_csv("output/MarketIndex.csv", index=False, header=True)

# view data in datframe
dataT.head()

error data not added to dataframe:  NDX
error data not added to dataframe:  MID
error data not added to dataframe:  OEX
error data not added to dataframe:  XOI
error data not added to dataframe:  RUT

,Symbol,Week,Open,High,Low,Close,Volume
0,DJIA,2019-03-29,25490.7207,25949.3203,10000.0000,25928.6797,1416360000
1,DJIA,2019-03-22,25801.8809,26109.6797,25501.4492,25502.3203,1785520000
2,DJIA,2019-03-15,25208.0000,25927.9102,25208.0000,25848.8691,1878630000
3,DJIA,2019-03-08,26122.1895,26155.9805,25252.4609,25450.2402,1363660000
4,DJIA,2019-03-01,26126.1504,26241.4199,25877.2402,26026.3203,1423240000